.forecast {
  padding: 30px;
  
  .header {
    width: 100%;

    &__link-back {
      display: block;
      float: left;
      height: 38px;
      margin-top: 10px;
      margin-left: -4px;
      margin-right: 10px;
      width: 38px;

      img {
        padding: 4px;
        width: 30px;
      }
    }

    &__city {
      float: left;
      margin-top: 10px;

      h1 {
        display: inline-block;
        margin: 0;
      }
    }

  }
}

