@import "../../defaults";
$color-placeholder: #a7a7a7;

.home {
  padding: 30px;  
  margin: 100px 0;

  .search {
    font-size: 30px;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    width: 100%;

    #search__input {
      color: $color-main;
      border: none;
      border-bottom: 2px solid $color-main;
      padding-right: 36px;
      text-align: center;
      text-indent: 36px;
      width: 100%;

      /* WebKit, Blink, Edge */
      /* Internet Explorer 10-11 */
      /* Microsoft Edge */
      &::-webkit-input-placeholder, 
      &:-ms-input-placeholder,
      &::-ms-input-placeholder { 
        color: $color-placeholder;
      }

      /* Mozilla Firefox 4 to 18 */
      /* Mozilla Firefox 19+ */
      &:-moz-placeholder,
      &::-moz-placeholder { 
        color: $color-placeholder;
        opacity: 1;
      }
    }

    &__icon {
      img {
        position: absolute;
        width: 36px;
        right: 7px;
      }
    }
  }

  .position {
    text-align: center;
    line-height: 2;
    margin-top: 30px;

    .small {
      font-size: 0.9em;
    }

    &__button {
      text-decoration: underline;
      text-decoration: none;
      border-bottom: 1px $color-main dotted;
      
      &:hover {
        border-bottom: 1px $color-main solid;
      }    
    }
  }
  
}