@import "../../defaults";

.today {
  font-weight: 300;
  margin-top: 40px;

  h2 {
    font-size: 1.8em;
    font-weight: 100; 
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.4em;
    font-weight: 100; 
    margin-top: 10px;
    text-transform: capitalize;
  }

  ul {
    color: $color-highlight;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: -10px 0 0 -20px;
    padding: 0;
    
    li {
      display: inline-block;
      margin: 15px;
      font-size: 5em;
      font-weight: 400;

      table {
        font-size: 0.2em;
        font-weight: 100; 
        border-spacing: 5px;
      }
    }
  }
}